body {
  margin: 0;
  background-color: #f9f9f9;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  /*text-align: center;*/
}

h1 {
  color: white;
  background-color: black;
  padding: 2px;
  padding-left: 6px;
}
h2 {
  color: #666;
  margin: 2px;
}

.notice p {
  background-color: white;
  padding: 5px;
}

h1 > span, h2 > span {
  /*background: rgba(255, 255, 255, 0.9);*/
  opacity: 0.8;
  font-size: 60%;
  border-radius: 2px;
  padding: 5px;
}

#defaultCanvas0{
}

#main {
  margin: 0 auto;
  position: fixed;
  display: block;
  /*blank by default*/
  /*opacity: 0;*/
  max-width: 800px;
  z-index: 2;
}

#terminal {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */

  opacity: 0.05;
  position: fixed;
  display: block;
  background-color: rgba(220, 220, 220, 0);
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  overflow: scroll;
  padding-left: 10px;
  z-index: 1;
}

#terminal p {
  font-family: Hack, monospace;
  font-size: 10px;
  margin: 2px;
}

#terminal p b {
  color: orange;
}

#terminal p i {
  font-style: italic;
  font-style: bold;
}

#terminal p span {
  text-decoration: underline;
  color: green;
}
